/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Overlock+SC');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/* Header title style with background image of Smith */
header {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    height: 250px;
    width: 1100px;
    padding: 20px;
    background-image: url("smithcollege.jpg");
}

/* Wrap the body so there is whitespace on either side */
#wrap {
    width: 1100px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    /*background-color: #eee;*/
    background-color: #edf3fc;
    padding: 20px;
}

/* Header title font and color */
h1 {
    color: #fff;
    font-family: 'Overlock SC', cursive;
	text-shadow: 4px 4px 0px #000, 8px 8px 0px #9fdff2;
	font-size: 500%;
    z-index: 10;
    text-align: center;
    padding-top: 80px;
}

h2 {
    padding-top: 25px;
    font-family: 'Raleway', serif;
}

/* Style the checkbox heading */
label {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

/* The left column of the table with the navigation bar */
#categories {
    padding: 10px;
    background-color: #90a8cc;
    width: 180px;
}

/* The right column of the table that displays the search results */
#display {
    width: 1000px;
    padding-left: 100px;
}

/* Style the submit button */
#Submit {
    border-radius: 4px;
    background-color: #476699;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 10px 32px;
    width: 150px;
    cursor: pointer; /* Different cursor for button */
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition-duration: 0.5s;
    margin: 5px;
}

#Submit span {
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition-duration: 0.5s;
}

#Submit span:after {
    content: "⇨";
	position: absolute;
	opacity: 0;
    top: -3px;
	right: -20px;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
	transition: 0.5s;
}

/* Submit button turns a different colour when hovered over*/

#Submit:hover span {
    padding-right: 25px;
}

#Submit:hover span:after {
    opacity: 1;
    right: 0;
}

/* Visual effect for submit button when clicked */
#Submit:active {
    background-color: #384f75;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
	transition: 0.5s;
}


tr {
    height: 500px;
    overflow-y: scroll;
}

/* Style the buttons that are used to open and close the accordion panel containing courses filling a requirement */
.accordion1 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion1:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion2 {
    background-color: #aaa;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion2:hover {
    background-color: #bbb;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: grey;
    display: none;
    overflow: hidden;
}

.bottom-whitespace {
    margin-bottom: 5cm;
}
